/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: url("assets/images/bg.jpg");
}

//mat-input style
.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: #333;
}

/*change color of label*/
.mat-focused .mat-form-field-label {
  color: #8c8c8c !important;
}

.mat-form-field-label {
  color: #8c8c8c !important;
}

.mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: #333; //#e87c03;
}

.mat-form-field.mat-form-field-invalid .mat-form-field-ripple {
  background-color: #e87c03 !important;
}

//checkbox
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #8c8c8c;
}
.mat-ripple-element {
  display: none !important;
}

span.mat-checkbox-inner-container {
  background-color: #fff;
}

@media only screen and (max-width: 740px) {
  body {
    background: none;
  }
}

.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: white;
}


.mat-error {
  color: #e87c03;
  font-size: .8rem;
}


button.mat-focus-indicator.login-form-submit-btn.mat-raised-button.mat-button-base.mat-warn.mat-button-disabled {
  background-color: rgba(255,0,0,0.5);
}
